.newButton {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;

  position: relative;
  width: 77px;
  height: 35px;
  color: #fff;
  font-size: 16.3px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
  transition: all 0.3s;
  border: 1px solid transparent;
  border-radius: 20px;
  scale: 0.8;
}

.newButton:hover {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border: 1px solid #000;
}

.newButtonBackground {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
}

.actionButton {
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  padding: 4px 3px;
  color: #cbcdd4;
  font-size: 16.343px;
  font-weight: 600;
  display: flex;
  align-items: center;
  transition: background 0.3s;
  border-radius: 10px;
  scale: 0.7;
}

.actionButton:hover {
  background: rgba(0, 0, 0, 0.25);
}

.actionButton p {
  display: none;
}

.iconButtonDisabled {
  pointer-events: none;
}

@media screen and (width >= 360px) {
  .actionButton {
    scale: 1;
    padding: 8px 6px;
  }
}

@media screen and (width >= 1024px) {
  .actionButton p {
    display: block;
    margin-left: 4.5px;
    margin-bottom: 0;
  }

  .newButton {
    scale: initial;
  }
}
