.gameHeader {
  height: 84px;
  background: #462b5f;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.header {
  height: 55px;
  background: #462b5f;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.height {
  height: 100%;
}

.innerWrapper {
  display: flex;
  align-items: center;
  padding: 3px 10px;
}

.border {
  height: 100%;
  width: 2px;
  background: #000;
}

.logoDesctopWrapper {
  display: none;
}

.logoMobileWrapper {
  display: block;
}

.cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90px;
  height: 24px;
  margin-right: 0;

  margin-left: auto;
}

.cardWrapper {
  padding: 6px 7px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background 0.3s;
  cursor: pointer;
  scale: 0.8;
}

.cardWrapper:hover {
  background: rgba(0, 0, 0, 0.25);
}

.desktopInfoButton {
  display: none;
}

.logo {
  order: 1;
}

.newButtonWrapper {
  order: 2;
}

.cards {
  order: 3;
}

.borderBottom {
  display: block;
  height: 1px;
  width: 100%;
  background: #000;
}

.mobileInfoButton {
  display: flex;
  align-items: center;
  height: 42px;
}

.hidden {
  display: none;
}
@media screen and (width >= 1024px) {
  .desktopInfoButton {
    display: flex;
    align-items: center;
  }

  .mobileInfoButton {
    display: none;
  }

  .cards {
    width: 95px;
    height: 24px;
    margin-right: 55px;

    margin-left: initial;
  }

  .cardWrapper {
    padding: 9px 10px;
    scale: initial;
  }

  .logoDesctopWrapper {
    display: block;
  }

  .logoMobileWrapper {
    display: none;
  }

  .logo {
    order: initial;
  }

  .newButtonWrapper {
    order: initial;
  }

  .cards {
    order: initial;
  }

  .gameHeader {
    height: 57px;
  }

  .innerWrapper {
    height: 100%;
    padding: 0 18px;
  }

  .borderBottom {
    display: none;
  }
}
